/*  Eliana Rodrigues, P1 WD2, FBAUP, x.10.2021  */

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */

/* MAIN */
main {
  /* children são flex-items */
  /* display: inline-flex; */
  /* alinhar itens em coluna */
  /* flex-direction: column; */
  /* centrar itens horizontalmente */
  /* align-items: center; */
  /* centrar itens verticalmente */
  /* justify-content: center; */
  cursor: default;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* highlights */
::selection {
  background: lightgrey; /* WebKit/Blink Browsers */
}

/* Importar fontes */
@font-face {
  src: url("HandjetVF-All.ttf");
  font-family: "HandjetVF-All";
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  src: url("GridlitePEVFTRIAL-All.ttf");
  font-family: "GridlitePEVFTRIAL-All";
  font-style: normal;
  font-weight: 1 900;
  font-variation-settings: "BACK" 1 900, "ESHP" 1 4;
}

/* Fonte subtítulos */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

/* TRANSPARENCY */
p {
  font-family: "Roboto Mono", monospace;
}

.transparency {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

/* #bulb {
  position: absolute;
  top: 0.2em;
  left: 0.5em;
  font-size: 15px;
} */

.transparency h1 {
  /* Propriedade costum para modificar o weight */
  --axis: 100;

  color: black;
  font-family: "HandjetVF-All", "Courier New", Courier, monospace;
  font-weight: var(--axis);
  font-variation-settings: "ESHP" 6.4;
  font-variation-settings: "EGRD" 2;
  font-size: 70px;
  align-self: center;
  line-height: 1.1em;
  text-transform: uppercase;
}

.transparency p {
  margin: 2em 1em 2em 2em;
  font-size: 12px;
}

#aviso {
  display: none;
}

#erro {
  display: none;
  position: absolute;
  top: 14em;
  left: 1.8em;
  font-size: 28px;
  transform: rotate(-20deg);
  line-height: 1.1em;
  word-wrap: normal;
}

/* Botão -> */
#btn-t {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin: 1em;
  font-size: 20px;
}

/* PRIVACY */
.privacy {
  display: none;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* .privacy h1 {
  color: black;
  font-family: "HandjetVF-All", "Courier New", Courier, monospace;
  font-size: 50px;
  align-self: center;
  text-transform: uppercase;
  cursor: pointer;
} */

form {
  position: absolute;
  top: 1.3em;
  left: 1.3em;
}

form [type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

form [type="text"] {
  padding: 0.4em;
  background-color: black;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: "Roboto Mono", monospace;
  width: 13.8em;
}

.privacy p {
  margin: 2em 1em 2em 2em;
  font-size: 12px;
}

/* Botão -> */
#btn-p {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin: 1em;
  font-size: 20px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  /* Tablet */
}

@media only screen and (min-width: 992px) {
  /* Desktop */
  #aviso {
    display: block;
    position: absolute;
    top: 6em;
    left: 0.5em;
    font-size: 50px;
    transform: rotate(-20deg);
    line-height: 1.1em;
  }
}
